@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2F4F7;
}

.navbar-light .navbar-nav .nav-link {
    color: #111F4D;
    font-family: 'Poppins', sans-serif;
}

.navbar-btn {
    display: block;
    margin-bottom: 10px;
}

.navbar-btn:first-of-type {
    border: 1px solid #E43A19;
    color: #E43A19;
}

.navbar-btn:last-of-type, .viewmore {
    color: white;
    background-color: #E43A19;
}

.hero {
    background-color: #111F4D;
    color: white;
    padding-top: 50px;
    padding-bottom: 73px;
    
}

h4, .hero p{
    font-weight: 300;
}
h2 {
    font-weight: 600;
}
h4:last-of-type {
    font-weight: 500;
}

.hero p:nth-of-type(2), .hero p:nth-of-type(3), .hero img{
    display: none;
}

.service {
    width: 337px;
    height: 99px;
    background: #F2F4F7;
    box-shadow: 1px 2px 9px rgba(55, 20, 153, 0.1);
    border-radius: 8px;
    color: #111F4D;
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
}

.service p {
    text-align: center;
    font-weight: 300;
}

.service p span {
    font-weight: 500;
}

.service svg {
    align-self: center;
    
}

.services {
    margin: 32px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.service {
    margin-bottom: 16px;
}



#about, #skills, #projects, #clients {
    margin: auto 17px 50px;
}

#about hr, #skills hr, #projects hr, #clients hr {
    width: 38px;
    border: 1px solid #E43A19;
    display: inline-block;
    position: relative;
    top: 10px;
}

#about h6, #skills h6, #projects h6, #clients h6{
    display: inline-block;
    color: #E43A19;
    font-weight: 300;
    font-size: 16px;
}

#about h5, #skills h5, #projects h5, #clients h5 {
    font-size: 18px;
    color: #111F4D;
}


#about p, #skills p, #projects p, #clients p {
    color: #020205;
    font-size: 15px;
}

.rating {
    width: 339px;
    margin: auto 18px;
    }
    .progress {
        height: 8px;
        background-color: rgba(0, 0, 0, 0.25);
    }
    .progress-bar {
        border-radius: 8px;
    }

.skillbox .item {
    text-align: center;
    padding: 40px;
}
.skillbox h6 {
    margin-top: 20px;
}
.skillbox {
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
}
.item {
    width: 237px;
    height:194px;
    background-color: #F2F4F7;
    margin: 25px;
    box-shadow: 1px 2px 4px rgba(25, 61, 115, 0.1);
    border-radius: 8px;
}

.credits {
    background-color: #111F4D;
    color: #F2F4F7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: ;
}

.cred {
width: 120px;
text-align: center;
margin: 40px;
}

.cred span {
    display: block;
    font-weight: 300;
    margin-top: 15px;
}


/*vertically centers images if not full*/
.middler {
    padding-top: 40px;
}
/*slider container*/
.container {
    margin-top: 60px;
    margin-bottom: 60px;
}





@media screen and (min-width: 768px) {
    #brand-icon {
        margin-left: 140px;
    }
    .navbar-btn {
    margin-right: 20px;
}
    .nav-item {
        margin-right: 30px;
    }
    .container-fluid  {
    margin-left: 140px;
    align-self: center;
}
.hero p:nth-of-type(1) {
   margin-top: 24px;
   width: 608px;
}
.hero p:nth-of-type(2) {
    display: inline-block;
    margin-right: 67px;
}
.hero p:nth-of-type(3) {
    display: inline-block;
}
.hero-btn {
    margin-top: 24px;
    width: 104px;
    height: 37px;
}
.hero img{
    display: initial;
}
#navbarSupportedContent {
    padding-right: 100px;
}
.hero {
    padding-bottom: 0px;
    
}
.services {
    margin: 32px 140px;
    justify-content: space-between;
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 32px 140px;
}
.about img {
    width: 547px;
    height: 502px;
}
#about, #skills, #projects, #clients {
    width: 449px;
    align-self: center;
    margin: 0;
    margin-left: 73px;
}
#projects, #clients {
    margin-left: 140px;
}
#skills {
    margin-left: 0px;
}
#about h5, #skills h5, #projects h5, #clients h5 {
    font-size: 32px;
    color: #111F4D;
    font-weight: bold;
}
.sectitle {
    transform: rotate(-90deg);
    position: relative;
    right: 250px;
    bottom: 74px;
}
#skills .sectitle, #projects .sectitle, #clients .sectitle {
    bottom: 90px;
}
.rating {
width: 378px;
margin: 0px;
}
.talent {
    margin: auto 140px 107px;
    display: flex;
}
.talentskills {

}
.skillbox {
  justify-content: flex-end;
}
.item {
    width: 237px;
    height:194px;
    background-color: #F2F4F7;
    margin: 0px;
    box-shadow: 1px 2px 4px rgba(25, 61, 115, 0.1);
    border-radius: 8px;
}
.skillbox .item:nth-of-type(2) {
    margin : 18px 0px 18px 18px;
}
.skillbox .item:nth-of-type(3) {
    margin-top: -18px;
}
.skillbox .item:nth-of-type(4) {
    margin-left : 18px;
}
.credits {
    padding: 84px 250px;
}
.portfolio {
    display: grid;
    
    height: 716px;
    margin-left: 140px;
    margin-right: 140px;
    grid-template-columns: repeat(3,auto-fit, minmax(237px,1fr));
    grid-template-rows: repeat(3, 1fr);
    column-gap: 26px;
    row-gap: 11px;
}
.sample {
    border-radius: 8px;
}
.sample:nth-of-type(1) {
    grid-row: 1/2;
}
.sample:nth-of-type(2) {
    grid-row: 1/3;
}
.sample:nth-of-type(4) {
    grid-row: 2/4;
}
.sample:nth-of-type(6) {
    grid-row: 2/4;
}




}


@media screen and (max-width: 768px) {
.portfolio {
display: flex;
flex-direction: column;
align-items: center;
}

.sample {
margin: 16px;
}
}